*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: url(bg-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 80px;
}

.row 
{
    z-index: 1;
    height: 80px;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
	margin: auto;
}

body
{
		font-family: "Roboto", sans-serif;
}

input
{
/*	margin-top: 20px;
*/}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 100px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	margin-right: 30px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.main-nav li
{
	border: 1px solid transparent;
}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a
{
	border: 1px solid transparent;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

.logo img
{
	width: 300px;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}

.home
{
	background-image: url(bg-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.tracker-box
{
	border: 1px solid rgba(0,0,0,.3);
	width: 400px;
	height: 200px;
	background-color: rgba(255,255,255,.6);
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px;
	border-radius: 15px;
}

.ft-button
{
	margin-top: 17px;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
  	background-color: #337ab7;
  	opacity: .9;
  	cursor: pointer;
  	border:none;
 }

 .ft-button:hover
{
	opacity: 1;
 }

input.ft-button[type=submit]
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
}

.db-button
{
	width: 60px;
	border-radius: 5px;
  	background-color: #337ab7;
  	border-color: #2e6da4;
 }

 input.db-button[type=submit]
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
}

.db-selector
{
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 16px;
	padding: 9px;
	border-radius: 5px;
}


.airline-form
{
	margin-top: 20px;
}

.flight-number-form
{
	margin-top: 20px;
}


.form-control {
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: rgba(255,255,255,0.65);
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}

